# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo/Metro
.expo/
.expo-shared/
.expo-dev-menu/
.expo-settings/
.packager/

# Bundler/Cache
.expo-cache/
metro-cache/
.cache/

# OS
.DS_Store
Thumbs.db

# Build artifacts
android/
ios/
web-build/
dist/
build/

# TypeScript
*.tsbuildinfo

# Logs
*.log
logs/

# Env
.env*
.env.local

# Misc
coverage/
.tmp/
.cypress/
.idea/
.vscode/*
!.vscode/extensions.json
